/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0 4rem;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.logoBadge {
  max-width: 8rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 1025px) {
  .codeSampleWrapper {
    display: flex;
    align-items: center;
  }
}
